body {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans Mono', monospace;
  background-color: #ededed;
}

input {
  border-radius: 10px;
  border: 1px solid black;
}

textarea {
  border-radius: 10px;
  border: 1px solid;
}

button {
  border-radius: 10px;
  border: 1px solid black;
}