body {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans Mono', monospace;
  background-color: #020d18;
  color: white;
}

input {
  border-radius: 20px;
  border: 1px solid black;
}

textarea {
  border-radius: 20px;
  border: 1px solid;
}

button {
  border: 1px solid black;
}

section {
  max-width: 1150px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.otherColorContainer {
  background-color: #0f2133;
}